{% extends 'base/base.html' %}

{% block content %}
<div class="row row-cols-2">
  <div class="col-10">
    <div class="d-flex align-items-center">
      <form id="word-form" class="d-flex gap-3" method="post">
        {% csrf_token %}
        <fieldset>
          <label for="look_up">Your word:</label>
          <input type="text" name="word" id="look_up" placeholder="Type here" />
        </fieldset>
        <input type="submit" value="Look up" />
      </form>
    </div>
      <div id="result-of-search" class="my-2">
        <strong id="message"></strong>
        <div id="results">
          <div id="spelling" class="d-flex justify-content-start align-items-baseline gap-1">
            <h2 id="exact_word" class="text-primary"></h2>
            <h5 id='type' class="text-info fst-italic"></h5>
            <h5 id="ipa"></h5>
            <audio id='audio'></audio>
            <div id='play'>
            </div>
          </div>
          <div id="hr"></div>
          <div id="definition">
            <h5 class='text-success'></h5>
            <ul class="text-secondary"></ul>
          </div>
          <div id="phrases">
            <h5 class='text-success'></h5>
            <ul class="text-secondary"></ul>
          </div>
        </div>
        
      </div>
  </div>
  <div id="history" class="col-2">
    <h1>History:</h1>
    <ul>
      {% for word in history %}
        <li>{{ word.word }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}

{% block script %}
  <script> 
    $(document).ready(function () {
      $('#word-form').submit(function (e) {
        e.preventDefault();
        $('#history ul').html('<div class="loading"><span></span><span></span><span></span><span></span><span></span></div>');
        $('#word-form').after('<div class="loading"><span></span><span></span><span></span><span></span><span></span></div>');
        $.ajax({
          type: 'POST',
          url: "{% url 'lookup:lookup' %}",
          data: $(this).serialize(),
          success: function (response) {
            $('.loading').remove();
            console.log(response)
            //$('#loader').remove();
            $('#word-form').trigger('reset');
            $('#message').empty();
            var result = response['result'];
            var history = response['history'];
            console.log(history)
            if (result['success']) {
              if ('exact_word' in result) {
                $('#results *').show();
              } else {
                if ($('#phrases').css('display') == 'none') {
                  $('#phrases').css('display', 'block');
                  $('#phrases ul').css('display', 'block');
                }
                $('#results div :not(#phrases ul)').hide();
              }
              for (let item in result) {
                if (item == 'message') {
                  $('#message').text(result[item]);
                };
                if (item == 'exact_word') {
                  $('#exact_word').text(result[item])
                };
                if (item == 'type') {
                  $('#type').text(result[item])
                }
                if (item == 'ipa') {
                  $('#ipa').text(result[item])
                };
                if (item == 'meanings' ) {
                  $('#definition h5').text('Definitions:');
                    var meaningList = [];
                    result[item].forEach(function(meaning) {
                      meaningList.push(`<li>${meaning}</li>`)
                    });
                    var meaningListStr = meaningList.join('')
                    $('#definition ul').html(meaningList);
                };
                if (item == 'phrases') {
                  if ('exact_word' in result) {
                    $('#hr').html('<hr>');
                    $('#phrases h5').text('Frequently used in phrases:');
                  }
                    var phrasesList = [];
                    result[item].forEach(function(phrase) {
                      phrasesList.push(`<li>${phrase}</li>`)
                    });
                    var phrasesListStr = phrasesList.join('');
                    $('#phrases ul').html(phrasesList);
                };
                if (item == 'audio_srcs') {
                  var url = result[item]
                  var audio = new Audio(url[0]['src'])
                    $('#play').html('<button class="comic-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16"><path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2"/><path fill-rule="evenodd" d="M9 3v10H8V3z"/><path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5z"/></svg></button>') 
                    $('#play button').click(function(){
                        audio.play()                  
                    })
                  }}
                };
                 $.each(history, function(index,word) {
                  $('#history ul').append(`<li>${history[index].fields.word}</li>`)
                 })
                },
            error: function(xhr) {
            if (xhr.status == 500) {
              $('.loading').remove();
              $('#message').text('Server not working correctly');
              $('#results *').hide();
            }
        }
        })
      })
      
      })
  </script>
{% endblock %}
